<div class="dragndrop__inner component__inner">
    {{> component this}}
    <div class="{{_id}}-fbnotify a11y-ignore" aria-hidden="true" tabindex="-1" style="display:none;">********** [ DRAG AND DROP MCQ Selectable Options Below ] **********</div>
    <div class="dragndrop__widget component__widget {{#unless _isEnabled}} disabled {{#if _isComplete}} is-complete is-submitted show-user-answer {{#if _isCorrect}}is-correct{{/if}} {{/if}} {{/unless}}">

        <div class="dragndrop-container">

            <div class="dragndrop-overlay"></div>

            <div class="dragndrop-questions">
                {{#each _items}}
                    <div class="dragndrop-question">
                        <div class="dragndrop-question-text">
                            <div class="dragquestext">{{this.text}}</div>
                            <div class="dragquesbutton">
                                <button class="dndmobile" onclick="require('coreJS/adapt').trigger('notify:popup',{title:'Question',body:'{{this.text}}'});return false;">View Question</button>
                            </div>
                        </div>
                        {{#each accepted}}
                            <div class="dragndrop-item dragndrop-droppable ui-state-enabled"></div>
                        {{/each}}
                        <div class="dragndrop-question-state">
                            <div class="dragndrop-correct-icon icon icon-tick"></div>
                            <div class="dragndrop-incorrect-icon icon icon-cross"></div>
                        </div>
                    </div>
                {{/each}}
            </div>

            <div class="dragndrop-answers clearfix">
                {{#each _possibleAnswers}}
                    <div class="dragndrop-item dragndrop-answer">{{{this}}}</div>
                {{/each}}
            </div>

        </div>
        {{#if _feedback.correct}}
        <div class="{{_id}}-fbnotify a11y-ignore" aria-hidden="true" tabindex="-1" style="display:none;">[ Correct Feedback ] = {{{_feedback.correct}}}</div>
        {{/if}}
        {{#if _feedback._incorrect.final}}
            <div class="{{_id}}-fbnotify a11y-ignore" aria-hidden="true" tabindex="-1" style="display:none;">[ Incorrect Final Feedback ] = {{{_feedback._incorrect.final}}}</div>
        {{/if}}
        {{#if _feedback._incorrect.notFinal}}
            <div class="{{_id}}-fbnotify a11y-ignore" aria-hidden="true" tabindex="-1" style="display:none;">[ Incorrect Not Final Feedback ] = {{{_feedback._incorrect.notFinal}}}</div>
        {{/if}}
        {{#if _feedback._partlyCorrect.final}}
            <div class="{{_id}}-fbnotify a11y-ignore" aria-hidden="true" tabindex="-1" style="display:none;">[ Partly Correct Feedback for the Final Attempt ] = {{{_feedback._partlyCorrect.final}}}</div>
        {{/if}}
        {{#if _feedback._partlyCorrect.notFinal}}
            <div class="{{_id}}-fbnotify a11y-ignore" aria-hidden="true" tabindex="-1" style="display:none;">[ Partly Correct Not Final Feedback ] = {{{_feedback._partlyCorrect.notFinal}}}</div>
        {{/if}}
        <script class="{{_id}}-fbnotify">if ( !$('html').hasClass('pagesave2txt') ) { $( ".{{_id}}-fbnotify" ).remove(); }</script>
    </div>
    <div class="btn__container">
    </div>
</div>
