<div class="component__inner sber-dragndrop__inner style-{{_style_type}}">
  {{> component this}}

  {{#equals _style_type "first"}}
    {{#each _items}}
      <div class="sber-dragndrop__question-container questions" data-index="{{@index}}">
        <div class="sber-dragndrop__question-text">{{{text}}}</div>
        <div class="sber-dragndrop__question-instructions">{{{../instruction}}}</div>

        <div class="sber-dragndrop__question-answers-container">
          {{#each accepted}}
            <div class="sber-dragndrop__question-answer-placeholder">
              <span class="ignore">{{../hint}}</span>
            </div>
          {{/each}}
        </div>
      </div>
    {{/each}}
  {{/equals}}

  {{#equals _style_type "second"}}
    <div class="sber-dragndrop__question-container questions" data-index="{{@index}}">
      <div class="sber-dragndrop__question-instructions">{{{../instruction}}}</div>

      <div class="sber-dragndrop__question-answers-container">
        {{#each _items}}
          <div class="sber-dragndrop__question-answer-placeholder">
            <span class="ignore">{{{text}}}</span>
          </div>
        {{/each}}
      </div>
    </div>
  {{/equals}}

  <div class="sber-dragndrop__answers-container answers">
    <div class="sber-dragndrop__answers-title ignore">Варианты ответов:</div>
    {{#each _items}}
      {{#each accepted}}
        <div class="sber-dragndrop__answers-answer">
          {{{this}}}
        </div>
      {{/each}}
    {{/each}}
  </div>

  <div class="btn__container"></div>
</div>
